.container-fluid{
    padding: 0;
}
.collapse navbar-collapse > .nav-link{
    padding: 10px 0 10px 50px;
}
section{
    padding: 20px 0 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section h2{
    text-align: center;
    font-weight: bold;
}
section img{
    width: 160px;
    height: 140px;
    padding: 10px 10px 0 20px;
    margin-left: 40px;
}
section p{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    /* margin-top: 10px; */
}
.im{
    border: 1.5px solid black;
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 10px;
}
#edu .container-fluid{
    border: 1.5px solid black;
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 10px;
}
.col-lg-4 img{
    height: 100px;
    width: 150px;
    float: right;
}
ul{
    border: 1.5px solid black;
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 10px;
}
ul li{
    font-size: 20px;
    margin-left: 50px;
}

#hobby > img{
    height: 100px; 
    width: 100px;
    padding-bottom: 10px;
}

#contact i{
    margin-left: 20px;
}

#contact a{
    font-size: 20px;
}

